<!DOCTYPE html>
<html>
<head>
  <title> todoList</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div>
  	<div id='todoList' >
  		<form v-on:submit.prevent='todoAddTask'>
  			<label for='todoAdd'></label>
  			<input id='todoAdd' size=50 placeholder="Добавить новую задачу" v-model='todoAddText'>
  			<button>Добавить задачу</button>
  		</form>
  		<ul>
  			<li
  			is='todo-item'
  			v-for='(todo, index) in todoList'
  			v-bind:key='todo.id'
  			v-bind:title='todo.title'
  			v-on:remove='todoList.splice(index, 1)'
  			></li>
  		</ul>
  	</div>
  </div>
  

  <script type="text/javascript">
  	Vue.component('todo-item', {
  		template: '\
  		<li>\
  			{{title}}\
  			<button v-on:click="$emit(\'remove\')"> удалить задачу</button>\
  		</li>\
  		',
  		props: ['title']
  	})

  	var app = new Vue({
  		el: '#todoList',
  		data: {
  			todoList: [
  				{id: 1, title: 'Добавить функций в todoList'}
  			],
  			todoAddText: '',
  			todoNextIndex: 2
  		},
  		methods:{
  			todoAddTask: function(){
  				this.todoList.push({
  					id: this.todoNextIndex++,
  					title: this.todoAddText
  				});
  				this.todoAddText = '';
  			}
  		}
  	})
  </script>
</body>
</html>